$body-background: #fff;
$button-bg-cta: #000;
$button-bg-cta-hover: #fff;
$button-cta-text: #000;
$button-cta-text-hover: #fff;
$nav-background: rgba(219, 119, 119, 0.767);
$nav-text-color: #fff;
$nav-text-color-hover: #f1ff4f;
